name: Check IDE Release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *' 

jobs:
  ide-release-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check for new IDE release
        id: check
        run: ./check-ide-release.sh
      - name: Create pull request if necessary
        uses: peter-evans/create-pull-request@v8
        with:
          title: Update max IDE build to ${{ steps.check.outputs.newUntil }} (${{ steps.check.outputs.newVersion }})
          body: A newer version [has been published](https://www.jetbrains.com/idea/download/). PR generated automatically.
          commit-message: Update max IDE build to ${{ steps.check.outputs.newUntil }}
          branch: update-plugin-max
          delete-branch: true
