name: Check IntelliJ Release

on:
  workflow_dispatch:
  schedule:
    - cron: '0 2 * * *' 

jobs:
  release-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.5
      - name: Check for new release
        id: check
        run: ./check-release.sh
      - name: Create pull request if necessary
        uses: peter-evans/create-pull-request@v3
        with:
          title: Update max IDE build to ${{ steps.check.outputs.newUntil }}
          body: A newer version [has been published](https://www.jetbrains.com/idea/download/). PR generated automatically.
          commit-message: Update max IDE build to ${{ steps.check.outputs.newUntil }}
          branch: update-plugin-max
          delete-branch: true

