name: Update Gradle Wrapper

on:
  schedule:
    - cron: "1 0 * * 6"
  workflow_dispatch:

jobs:
  update-gradle-wrapper:
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
        with:
          # Work-around for failing runs (remote: Duplicate header: "Authorization") after upgrade actions/checkout to v6
          # https://github.com/gradle-update/update-gradle-wrapper-action/pull/994
          persist-credentials: false

      - name: Update Gradle Wrapper
        uses: gradle-update/update-gradle-wrapper-action@v2